nav{
    background: #fcf876;
    padding: 20px;
}

.columna{
    background: #af2d2d;
    color: #bbbfca;
    padding: 20px;
    width: 25%;
    /* width: es el ancho, se puede trabajar en pixeles o en porciento */
    margin: 10px;
}

.padre{
    display: flex ;
    /* flex es para aguparlo 1 al lado de la otra, hay mucho mas que ver en flex */
}